protobuf==4.25
numba
numpy
pandas
rich
scikit-learn
scipy
tensorboard
pillow
munch
rich
loguru
ipython
seaborn
torchinfo
tqdm
sacred
xlrd==1.2.0
ipykernel
nvitop
tensorboardX==2.6.2.2
torch_geometric==2.5.3